@import '~@angular/material/_theming.scss';

@mixin ms-system-details-theme($theme, $ms-theme) {

  $warn: map-get($theme, warn);

  .ms-system-details {

    .status-container {
      background-color: map-get($ms-theme, unselected-row);

      .online {
        background-color: map-get($ms-theme, success);
      }

      .offline {
        background-color: map-get($ms-theme, indeterminate);
      }

      .error {
        background-color: mat-color($warn);
      }
    }
  }

  // todo: not sure why the desktop theme isn't picking up these style
  .ms-desktop-details {
    .ms-robot-name {
      color: map-get($ms-theme, text);
    }
  }

}
