@import '~@angular/material/_theming.scss';

@mixin ms-incoming-batches-theme($theme) {

  $primary: map-get($theme, primary);

  .ms-incoming-batches-container {

    .ms-batch-container {
      background-color: mat-color($primary, 600);
    }

    .order-not-ready {
      .state-indicator {
        background-color: mat-color($mat-amber, 300);
      }
    }

    .order-ready {
      background-color: map-get($primary, 700);

      .state-indicator {
        background-color: mat-color($mat-green, 600);
      }
    }

    .order-sent {
      background-color: map-get($primary, 700);

      .state-indicator {
        background-color: mat-color($mat-green, 600);
      }
    }
  }
}

