@import '~@angular/material/_theming.scss';

@mixin ms-incoming-batches-theme($theme) {

  $primary: map-get($theme, primary);

  .ms-incoming-batches-container {
    color: white;

    .ms-batch-container {
      background-color: mat-color($primary, 700);
    }

    .order-not-ready {
      .state-indicator {
        background-color: mat-color($mat-amber, 300);
      }
    }

    .order-ready {
      background-color: map-get($primary, 600);
      .state-indicator {
        background-color: mat-color($mat-green, 600);
      }
    }

    .order-sent {
      background-color: map-get($primary, 600);
      .state-indicator {
        background-color: mat-color($mat-green, 600);
      }
    }

    .delivering-to {
      background-color: map-get($primary, 900);
    }
  }
}

