.ms-incoming-batches-container {

  .ms-header {
    margin-bottom: 0.5em;
  }

  .ms-batch-container {
    margin-bottom: 0.5em;

    .pointer-row {
      cursor: pointer;
    }
  }

}

.ms-desktop-batches {
  padding: 1em 2em;

  .ms-batch-container {

    .state-indicator {
      width: 1em !important;
    }
  }
}

.ms-mobile-batches {

  .ms-batch-container {

    .state-indicator {
      width: 0.5em !important;
    }
  }
}
