.ms-incoming-batches-container {

  #msNoBatches {
    padding: 0 16px;
    text-align: center;
  }

  .ms-batch-row {

    .ms-pointer-row {
      cursor: pointer;
    }

    .ms-batch-state-bar {
      width: 16px;
    }

    .ms-order-info {
      width: 100%;
      margin: 8px 16px;
      overflow: auto;
    }

    .ms-square-button {
      width: 100%;
    }
  }
}

.ms-desktop-batches {
  padding: 16px 32px;

  .ms-header {
    margin-bottom: 8px;
  }
}
