<div fxFill class="ms-blur-container" fxLayout="column">

  <div fxFlex class="batches-container" fxLayout="column" (scroll)="onScroll()">

    <!-- this div should be repeated for every batch -->
    <div *ngFor="let batch of batches" fxFlex>
      <div fxLayout="column" class="batch">

        <!-- Top of the batch. BatchId and Deadline countdown -->
        <div fxFlex="initial" class="batch-header">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Batch: {{batch.batchId}}</h2>
            <h2>{{batch.timeRemaining}}</h2>
          </div>
        </div>

        <div fxFlex fxFill>
          <div fxLayout="row">

            <!-- The different drinks are here -->
            <div fxFlex fxLayout="column">
              <!-- the different drinks here -->
              <div *ngFor="let order of batch.orders" fxFlex>
                <button mat-raised-button class="{{order.markedDone ? 'ms-green-container' : 'ms-red-container'}}" (click)="order.markedDone = !order.markedDone; checkBatchStatus()" [disableRipple]="true">
                  <div fxFlex="initial" class="order-id">
                    <h2>{{order.orderId}}</h2>
                  </div>
                  <div fxFlex="initial" class="product-name">
                    <h2>{{order.orderInfo.productName}}</h2>
                  </div>
                </button>
              </div>
            </div>

            <!-- Send button and its placeholder -->
            <div fxFlex="initial" [hidden]="!batch.markDone">
              <button mat-raised-button class="send-button">Send</button>
            </div>

            <div fxFlex="initial" [hidden]="batch.markDone">
              <div class="send-button-placeholder"></div>
            </div>
        </div>


        </div>

      </div>
    </div>
  </div>

  <div fxFlex="initial" style="padding-top: 10px;">
    <ms-page-selector (newPage)="onNewPageSelected($event)" [numberOfPages]="numberOfBatches" [currentPage]="currentPage"></ms-page-selector>
  </div>

</div>
