.ms-blur-container {
  padding: 1em 2em;
  -webkit-box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);
  color: white;

  .ms-header {
    margin-bottom: 1em;
  }

  .batch-container {
    margin-bottom: 0.5em;
    background-color: #393939;

    .order-container {
      .state-indicator {
        width: 1em !important;
      }

      .order-row {
        margin: 0.5em;

        /deep/
        mat-chip {
          padding: 0.2em 0.5em !important;
          font-weight: 300 !important;
          margin: 0.2em;
        }
      }
    }

    .order-not-ready {
      .state-indicator {
        background-color: #D3C36D;
      }
    }

    .order-ready {
      background-color: #202020;
      .state-indicator {
        background-color: #76B976;
      }
    }

    .order-sent {
      .state-indicator {
        background-color: #6DA0D3;
      }
    }

    .pointer-row {
      cursor: pointer;
    }
  }



}
