<div fxFill class="ms-incoming-batches-container" fxLayout="column">
  <h1 class="ms-header">Incoming Batches</h1>

  <div fxFlex style="overflow: auto">
    <div *ngFor="let batch of batches" fxLayout="column">
      <div class="batch-container" fxLayout="row" fxLayoutAlign="start space-between">

        <div fxFlex fxLayout="column">
          <div *ngFor="let order of batch.orders">
            <div class="order-container" fxLayoutAlign="start stretch" fxLayoutGap="1em" (click)="updateOrderStatus(order, batch)"
                 [ngClass]="{ 'pointer-row': batch.state !== 'delivering',
                              'order-sent': batch.state === 'delivering',
                              'order-ready': order.ready && batch.state !== 'delivering',
                              'order-not-ready': !order.ready  && batch.state !== 'delivering' }">
              <div class="state-indicator"></div>
              <div class="order-row" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                  <p style="margin-right: 0.5em;">{{order.orderInfo.orderOption.name}}</p>
                  <mat-chip-list style="margin-right: 0.5em;">
                    <div *ngFor="let addOn of order.orderInfo.selectedAddOns">
                      <mat-chip>{{addOn.key}}, {{addOn.value}}</mat-chip>
                    </div>
                  </mat-chip-list>
                </div>

                <p style="margin-right: 0.25em;">Delivering too:</p>
                <p class="light-text">{{order.deliveryLocation.name}}</p>
              </div>
            </div>
          </div>
        </div>

        <button *ngIf="batch.state !== 'delivering'" mat-button color="accent" [disabled]="!batch.ready" (click)="sendBatch(batch)">Send with<br><i>{{batch.assignedRobot.name}}</i></button>

        <div class="delivering-to" *ngIf="batch.state === 'delivering'" fxLayout="column" fxLayoutAlign="center center">
          <p><i>{{batch.assignedRobot.name}}</i></p>
          <p>is enroute</p>
        </div>
      </div>
    </div>
    <p *ngIf="batches.length === 0"><i>No batches available.</i></p>
  </div>
</div>
