@import '~@angular/material/_theming.scss';

@mixin ms-account-info-theme($theme) {

  $primary: map-get($theme, primary);

  .ms-account-info-wrapper {
    background-color: mat-color($primary, 800);
    color: white;
  }
}
