@import '~@angular/material/_theming.scss';

@mixin ms-account-info-theme($theme) {

  mat-slide-toggle {
    color: $white-87-opacity;
  }

  .ms-name-container{
    color: $white-87-opacity;
  }

  .ms-username-container {
    color: $white-87-opacity;
    font-family: Roboto-light;
  }
}
