<div fxLayout="column" class="ms-blur-container" fxLayoutAlign="center stretch">
  <mat-slide-toggle *ngIf="user.adminEnabled" fxFlexAlign="end" [checked]="isAdminView" (click)="switchView.emit()">Bartender view</mat-slide-toggle>

  <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="picture-placeholder"></div>

    <div fxFlex fxLayout="column" style="margin-left: 2em;">
      <h1 class="ms-header">{{user.firstName}} {{user.lastName}}</h1>
      <p style="font-size: 1.2em; font-weight: 300;">{{user.username}}</p>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1em" style="margin-top: 2em;">
        <mat-form-field>
          <mat-select [(value)]="user.defaultDeliveryLocation.id" placeholder="Default delivery location">
            <div *ngFor="let location of environmentDetails.deliveryLocations">
              <mat-option [value]="location.id">{{location.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="user.locale" placeholder="Locale">
            <div *ngFor="let locale of environmentDetails.locales">
              <mat-option [value]="locale">{{locale}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1em">
        <mat-form-field>
          <mat-select [(value)]="user.defaultView" placeholder="Default view" [disabled]="!user.adminEnabled">
            <div *ngFor="let view of environmentDetails.uiViews">
              <mat-option [value]="view">{{view}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="updateAccountInfo()">Submit</button>
        <button mat-raised-button color="warn" (click)="resetAccountInfo()">Reset</button>
      </div>
    </div>
  </div>

  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>
