<div fxFill class="ms-blur-container mat-table" fxLayout="column">

  <!-- this div should be repeated for every batch -->
  <div *ngFor="let batch of batches" fxFlex>
    <div fxLayout="column" class="batch">

      <!-- Batch id and complete buttons -->
      <div fxFlex class="batch-header">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button color="primary">Mark Batch Done</button>
          <p>Batch: {{batch.batchId}}</p>
          <button mat-raised-button color="primary">Send Robot Out</button>
        </div>
      </div>

      <!-- the different drinks here -->
      <div *ngFor="let order of batch.orders" fxFlex>
        <div class="{{order.markedDone ? 'ms-green-container' : 'ms-red-container'}}" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="start start">
            <p>Order Info:</p>
            <p class="orderInfo">Order ID: {{order.orderId}}</p>
            <p class="orderInfo">Product Name: {{order.orderInfo.productName}}</p>
            <p class="orderInfo">Product Id: {{order.orderInfo.productId}}</p>
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <p>Addons:</p>
            <p class="orderInfo" *ngFor="let addon of order.orderInfo.addons">{{addon.addonName}} X {{addon.quantity}}</p>
          </div>
          <button mat-raised-button color="accent" (click)="order.markedDone = !order.markedDone">Mark Done</button>
        </div>
      </div>

    </div>
  </div>

</div>
