@import '~@angular/material/_theming.scss';

@mixin ms-order-history-theme($theme, $ms-theme) {

  $warn: map-get($theme, warn);

  .ms-order-history-container {

    .state-color-bar {
      mat-icon {
        color: map-get($ms-theme, background);
      }
    }

    .order-row {
      background-color: map-get($ms-theme, unselected-row);
    }

    .waiting {
      background-color: map-get($ms-theme, indeterminate);
    }

    .delivering {
      background-color: map-get($ms-theme, in-progress);
    }

    .delivered {
      background-color: map-get($ms-theme, success);
    }

    .delayed {
      background-color: mat-color($warn);
    }
  }

  .ms-desktop-history {
    i, p {
      color: map-get($ms-theme, text);
    }

    .ms-ellipsis-text {
      span {
        color: map-get($ms-theme, text);
      }
    }
  }

}
