.ms-desktop-history {
  padding: 1em 2em;
}

.ms-mobile-history {
}

.ms-order-history-wrapper {

  // todo: these should be moved to global styles for consistency
  .ms-header {
    margin-bottom: 0.5em;
  }

  .ms-order-history-container {
    overflow: auto;
    max-height: 100%;

    .order-row {
      margin-bottom: 0.5em;

      .state-color-bar {
        padding: 0 0.5em;
      }

      .row-info {
        margin: 0.5em 1em;
      }
    }
  }
}

// todo: figure out adding to global theme
/deep/
mat-chip {
  padding: 0.2em 0.5em !important;
  font-weight: 300 !important;
  margin: 0.2em;
}
