@import '~@angular/material/_theming.scss';

@mixin ms-home-theme($theme, $ms-theme) {

  $primary: map-get($theme, primary);

  .ms-desktop-home {
    ms-incoming-batches, ms-order-history {
      background-color: map-get($ms-theme, header-background);
    }
  }

  .ms-mobile-header {
    background-color: map-get($ms-theme, header-background);
  }

  mat-menu {
    background-color: map-get($ms-theme, header-background);
  }

  .ms-home-wrapper {

    .ms-divider {
      div {
        background-color: map-get($ms-theme, header-background);
      }
    }
  }

  .ms-menu-container {

    .ms-divider {
      background-color: mat-color($primary);
    }

    .ms-selected-view {

      mat-icon {
        color: mat-color($primary);
      }

      span {
        color: mat-color($primary);
      }
    }
  }
}
