@import '~@angular/material/_theming.scss';

@mixin ms-home-theme($theme) {

  $primary: map-get($theme, primary);

  .ms-home-wrapper {
    color: white;

    .ms-divider {
      background-color: mat-color($primary, 800);

      div {
        background-color: mat-color($primary, 900);
      }
    }
  }
}
