ms-place-order, ms-order-history, ms-account-info, ms-incoming-batches, ms-system-details {
  display: block;
  overflow: auto;
}

.ms-divider {
  width: 100%;
  height: 0.1em;
  padding: 0 1em;
}

.ms-mobile-header {
  padding: 8px 16px;

  p {
    font-size: 2em;
    margin-left: 8px;
  }
}

.ms-menu-container {
  padding: 8px;
  width: calc(100vw - 112px);

  #msMenuTitle {
    padding: 0 16px;
    margin: 0;
  }

  p {
    margin-left: 8px;
    font-size: 2em;
  }

  .ms-divider {
    width: calc(100% - 16px);
    height: 1px;
    margin: 8px;
  }

  .ms-menu-button {
    padding: 8px 16px;
    mat-icon {
      margin-right: 48px;
    }
  }
}
