<div fxLayout="row" fxLayoutAlign="center stretch" fxFill class="ms-home-wrapper">

  <!-- desktop layout -->
  <div *msMediaIf="'gt-md'" fxFlex class="ms-desktop-home">
    <ms-order-history fxFlex *ngIf="!isAdminView" (reorder)="populatePlaceOrder($event)"></ms-order-history>
    <ms-incoming-batches fxFlex *ngIf="isAdminView"></ms-incoming-batches>
    <div fxFlex fxLayout="column">
      <ms-account-info fxFlex [(isAdminView)]="isAdminView" (userUpdate)="handleUserInfoChange($event)"></ms-account-info>

      <div class="ms-divider">
        <div fxFlex></div>
      </div>

      <ms-place-order fxFlex *ngIf="!isAdminView" [pastOrder]="pastOrder"></ms-place-order>
      <ms-system-details fxFlex *ngIf="isAdminView"></ms-system-details>
    </div>
  </div>

  <!-- mobile layout -->
  <div *msMediaIf="'lt-lg'" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
    <mat-drawer-container style="height: 100%;">
      <mat-drawer mode="over" style="height: 100%;" [opened]="isSideNaveOpen" (closedStart)="isSideNaveOpen = false">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" class="ms-menu-container">
          <div fxLayout="column" fxLayoutAlign="start start">
            <p id="msMenuTitle">MobileServer</p>

            <div class="ms-divider"></div>

            <div (click)="switchView('Place Order')" class="ms-menu-button" [ngClass]="{'ms-selected-view': componentInView === 'Place Order'}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>add_shopping_cart</mat-icon>
              <span>Place Order</span>
            </div>
            <div (click)="switchView('Order History')" class="ms-menu-button" [ngClass]="{'ms-selected-view': componentInView === 'Order History'}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>history</mat-icon>
              <span>Order History</span>
            </div>
            <div (click)="switchView('Account Info')" class="ms-menu-button" [ngClass]="{'ms-selected-view': componentInView === 'Account Info'}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>account_circle</mat-icon>
              <span>Account</span>
            </div>
            <div *ngIf="isAdminView" (click)="switchView('Incoming Batches')" class="ms-menu-button" [ngClass]="{'ms-selected-view': componentInView === 'Incoming Batches'}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>receipt</mat-icon>
              <span>Batches</span>
            </div>
            <div *ngIf="isAdminView" (click)="switchView('System Details')" class="ms-menu-button" [ngClass]="{'ms-selected-view': componentInView === 'System Details'}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>settings</mat-icon>
              <span>System</span>
            </div>

            <div class="ms-divider"></div>
          </div>

          <button mat-raised-button color="warn" (click)="logout()">Logout</button>
        </div>
      </mat-drawer>

      <div fxLayout="column" style="height: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center" class="ms-mobile-header">
          <button mat-icon-button (click)="isSideNaveOpen = true">
            <mat-icon>menu</mat-icon>
          </button>
          <p>{{componentInView}}</p>
        </div>
        <ms-place-order *ngIf="componentInView === 'Place Order'" [pastOrder]="pastOrder" fxFlex></ms-place-order>
        <ms-order-history *ngIf="componentInView === 'Order History'" (reorder)="populatePlaceOrder($event)" fxFlex></ms-order-history>
        <ms-account-info [(isAdminView)]="isAdminView" (userUpdate)="handleUserInfoChange($event)" *ngIf="componentInView === 'Account Info'" fxFlex></ms-account-info>
        <ms-incoming-batches fxFlex *ngIf="adminEnabled && componentInView === 'Incoming Batches'"></ms-incoming-batches>
        <ms-system-details *ngIf="adminEnabled && componentInView === 'System Details'" fxFlex></ms-system-details>
      </div>
    </mat-drawer-container>
  </div>

</div>
