<div class="ms-blur-container" fxLayout="column">
  <h1 style="margin: 0; color: #FFFFFF;">New Order</h1>

  <!--todo: this is all based off of the mock, needs to be dynamic!-->
  <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-input-container>
      <input matInput placeholder="Beverage type" type="text">
    </mat-input-container>

    <mat-input-container>
      <input matInput placeholder="Beverage" type="text">
    </mat-input-container>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-input-container>
      <input matInput placeholder="Milk" type="number">
    </mat-input-container>

    <mat-input-container>
      <input matInput placeholder="Cream" type="number">
    </mat-input-container>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-input-container>
      <input matInput placeholder="Sugar" type="number">
    </mat-input-container>

    <mat-input-container>
      <input matInput placeholder="Sweetener" type="number">
    </mat-input-container>
  </div>

  <button mat-raised-button color="primary">Submit Order</button>
</div>
