@import '~@angular/material/_theming.scss';

@mixin ms-new-order-theme($theme) {
  $primary: map-get($theme, primary);

  .ms-place-order-wrapper {
    background-color: mat-color($primary, 800);
    color: white;
  }
}
