<div class="ms-place-order-wrapper" fxLayout="column" fxLayoutAlign="space-between stretch" ngClass.gt-md="ms-desktop-order" ngClass.lt-lg="ms-mobile-order">
  <h1 class="ms-header" *msMediaIf="'gt-md'">Place Order</h1>

  <!-- desktop layout -->
  <div *msMediaIf="'gt-md'" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <mat-form-field fxLayout="column" color="primary" style="margin-right: 1em;">
        <input matInput placeholder="Delivery location" aria-label="Delivery location" [matAutocomplete]="autoLocation" [formControl]="locationControl">
        <mat-autocomplete #autoLocation="matAutocomplete">
          <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">{{location.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="column">
        <mat-form-field color="primary">
          <input matInput placeholder="Beverage" aria-label="Beverage" [matAutocomplete]="autoBeverage" [formControl]="beverageControl">
          <mat-autocomplete #autoBeverage="matAutocomplete">
            <mat-option *ngFor="let drink of filteredBeverages | async" [value]="drink.name">{{drink.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <p class="drink-description">{{selectedBeverage?.description}}</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 1em;">
      <mat-form-field *ngIf="selectedBeverage?.addOns" color="primary" style="margin-right: 1em;">
        <mat-select placeholder="Add-On" [(value)]="potentialAddOn">
          <div *ngFor="let addOn of selectedBeverage.addOns">
            <mat-option [value]="addOn">{{addOn.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div *ngIf="potentialAddOn" style="margin-right: 1em;">
        <mat-input-container *ngIf="potentialAddOn.type !== 'boolean'" color="primary">
          <input matInput id="addOnValueInput" placeholder="Amount" type="{{potentialAddOn.type}}" [(ngModel)]="potentialAddOnValue" min="1">
        </mat-input-container>
      </div>

      <button *ngIf="potentialAddOn" mat-mini-fab color="primary" (click)="addAddOnToSelectedList()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-chip-list *ngIf="selectedAddOns && selectedAddOns.length !== 0">
      <div *ngFor="let addOnChip of selectedAddOns">
        <mat-chip>
          {{addOnChip.key}}{{addOnChip.value !== true && addOnChip.value !== false ? ', ' + addOnChip.value : ''}}
          <mat-icon class="remove-chip" color="warn" (click)="removeAddOnChip(addOnChip)">clear</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
  </div>

  <!-- mobile layout -->
  <div *msMediaIf="'lt-lg'" id="msMobilePlaceOrderContainer">
    <mat-form-field fxLayout="column" color="primary">
      <input matInput placeholder="Delivery location" aria-label="Delivery location" [matAutocomplete]="autoLocation" [formControl]="locationControl">
      <mat-autocomplete #autoLocation="matAutocomplete">
        <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">{{location.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field color="primary" style="width: 100%;">
      <input matInput placeholder="Beverage" aria-label="Beverage" [matAutocomplete]="autoBeverage" [formControl]="beverageControl">
      <mat-autocomplete #autoBeverage="matAutocomplete">
        <mat-option *ngFor="let drink of filteredBeverages | async" [value]="drink.name">{{drink.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p class="drink-description">{{selectedBeverage?.description}}</p>

    <mat-form-field color="primary" *ngIf="selectedBeverage?.addOns" style="width: 100%;">
      <mat-select placeholder="Add-On" [(value)]="potentialAddOn">
        <div *ngFor="let addOn of selectedBeverage.addOns">
          <mat-option [value]="addOn">{{addOn.name}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="0.5em" *ngIf="potentialAddOn">
      <mat-input-container *ngIf="potentialAddOn.type !== 'boolean'" color="primary" style="width: 100%;">
        <input matInput id="addOnValueInput" placeholder="Amount" type="{{potentialAddOn.type}}" [(ngModel)]="potentialAddOnValue" min="1">
      </mat-input-container>
      <button mat-mini-fab color="primary" (click)="addAddOnToSelectedList()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-chip-list>
      <div *ngFor="let addOnChip of selectedAddOns">
        <mat-chip>
          {{addOnChip.key}}{{addOnChip.value !== true && addOnChip.value !== false ? ', ' + addOnChip.value : ''}}
          <mat-icon class="remove-chip" color="warn" (click)="removeAddOnChip(addOnChip)">clear</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
  </div>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0.5em" style="min-height: 2.5em;">
    <button fxFlex mat-raised-button color="primary" (click)="placeOrder()">Submit</button>
    <button fxFlex mat-raised-button color="warn" (click)="resetOrder()">Reset</button>
  </div>
</div>
