<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <svg [attr.height]="maxY * getMultiplier() + 30" [attr.width]="maxX * getMultiplier() + 30" style="padding: 15px" (click)="onClick($event)">
      <line *ngFor="let edge of edges"
            [attr.x1]="edge.startX * getMultiplier()"
            [attr.y1]="edge.startY * getMultiplier()"
            [attr.x2]="edge.endX * getMultiplier()"
            [attr.y2]="edge.endY * getMultiplier()"
            [attr.actualX1]="edge.startX"
            [attr.actualY1]="edge.startY"
            [attr.actualX2]="edge.endX"
            [attr.actualY2]="edge.endY"
            [attr.stroke]="edge.color"
            stroke-width="3">
      </line>
      <circle *ngFor="let vertex of vertices"
              [attr.cx]="vertex.x * getMultiplier()"
              [attr.cy]="vertex.y * getMultiplier()"
              [attr.actualX]="vertex.x"
              [attr.actualY]="vertex.y"
              [attr.fill]="vertex.color"
              r="10" stroke="black" stroke-width="1">
      </circle>
    </svg>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="getDirections()">Get Directions</button>
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
  </div>
</div>
