<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <svg [attr.height]="maxY * getMultiplier() + 40" [attr.width]="maxX * getMultiplier() + 40" (click)="onClick($event)">
      <line *ngFor="let edge of edges"
            [attr.x1]="edge.startX * getMultiplier()"
            [attr.y1]="edge.startY * getMultiplier()"
            [attr.x2]="edge.endX * getMultiplier()"
            [attr.y2]="edge.endY * getMultiplier()"
            [attr.actualX1]="edge.startX"
            [attr.actualY1]="edge.startY"
            [attr.actualX2]="edge.endX"
            [attr.actualY2]="edge.endY"
            [attr.stroke]="edge.selected ? '#43A047':'#E0F2F1'"
            stroke-width="3">
      </line>
      <circle *ngFor="let vertex of vertices"
              [attr.cx]="vertex.x * getMultiplier()"
              [attr.cy]="vertex.y * getMultiplier()"
              [attr.actualX]="vertex.x"
              [attr.actualY]="vertex.y"
              [attr.fill]="vertex.selected ? '#43A047':'#E0F2F1'"
              r="10">
      </circle>
    </svg>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" style="font-size: 2em; " (click)="getDirections()">Get Directions</button>
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
  </div>
</div>
