<div fxFill class="ms-blur-container" fxLayout="column">
  <h1 class="ms-header">Order History</h1>

  <div fxFlex class="ms-order-history-container" fxLayout="column">
    <div *ngFor="let order of orderHistory;">
      <div fxLayout="row" fxLayoutAlign="start stretch" style="margin-bottom: 1em; background-color: #393939;">

        <!-- todo: add a tool tip to the color bar for state information -->
        <div style="width: 0.5em;"
             [ngClass]="{waiting: order.state === 'Waiting', delivering: order.state === 'Delivering', delivered: order.state === 'Delivered', delayed: order.state === 'Delayed'}"></div>
        <div fxFlex style="margin: 0.5em 1em;" fxLayout="row" fxLayoutAlign="start stretch">
          <div fxFlex="30" fxLayout="column">
            <p>{{order.orderInfo.orderOption.name}}</p>
            <mat-chip-list>
              <div *ngFor="let addOn of order.orderInfo.selectedAddOns">
                <mat-chip>{{addOn.key}}, {{addOn.value}}</mat-chip>
              </div>
            </mat-chip-list>
            <!-- todo: Add chip list of selected addOns here -->
          </div>

          <div fxFlex *ngIf="order.state !== 'Delivered'" fxLayout="row">
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <p>Delivering too:</p>
              <p style="font-weight: 300;">{{order.deliveryLocation.name}}</p>
            </div>

            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <p>Estimated time till arrival:</p>
              <p style="font-weight: 300;">
                <ms-date-time-formatter [date]="order.deliveryEta" [formatAsDate]="false" [timeTooEstimate]="true"></ms-date-time-formatter>
              </p>
            </div>
          </div>

          <div fxFlex *ngIf="order.state === 'Delivered'">
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <p>Ordered on:</p>
              <p style="font-weight: 300;">
                <ms-date-time-formatter [date]="order.orderDate"></ms-date-time-formatter>
              </p>
            </div>

            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <p>Delivered on:</p>
              <p style="font-weight: 300;">
                <ms-date-time-formatter [date]="order.deliveredDate"></ms-date-time-formatter>
              </p>
            </div>
          </div>

          <button mat-button (click)="reorder.emit(order)">Reorder</button>
        </div>
      </div>

    </div>
  </div>
</div>
