.ms-order-history-wrapper {
  padding: 1em 2em;

  .ms-header {
    margin-bottom: 1em;
  }

  .ms-order-history-container {
    overflow: auto;
    max-height: 100%;

    .order-row {
      margin-bottom: 0.5em;

      .state-color-bar {
        width: 1em;
      }

      .row-info {
        margin: 0.5em 1em;
      }
    }
  }
}


// todo: maybe these can move to the global theme?
/deep/
mat-chip {
  padding: 0.2em 0.5em !important;
  font-weight: 300 !important;
  margin: 0.2em;
}

.light-text {
  font-weight: 300;
}
