.ms-blur-container {
  padding: 1em 2em;
  -webkit-box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0 2em 0.5em rgba(0, 0, 0, 0.3);

  .ms-header {
    margin-bottom: 1em;
  }

  .ms-order-history-container {
    overflow: auto;
    max-height: 100%;
    color: white;


    .waiting {
      background-color: #D3C36D;
    }

    .delivering {
      background-color: #76B976;
    }

    .delivered {
      background-color: #6DA0D3;
    }

    .delayed {
      background-color: #D04D4D;
    }
  }

}
