.ms-system-details {
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  color: white;

  .ms-header {
    margin-bottom: 1em;
  }

  .status-container {
    width: 100%;
    background-color: #393939;

    .state-indicator {
      width: 1em;
      height: 4em;
    }

    .online {
      background-color: #76B976;
    }

    .offline {
      background-color: #D3C36D;
    }

    .error {
      background-color: #D04D4D;
    }
  }
}
