<div class="ms-system-details">
  <h1 class="ms-header">Robot Details</h1>

  <div *ngFor="let status of systemDetails?.robots" style="margin-bottom: 1em;">
    <div class="status-container" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="state-indicator" matTooltip="{{!status.isConnected ? 'Offline' : status.robotError ? 'Error' : 'Online'}}"
           matTooltipPosition="after" [ngClass]="{'online': status.isConnected && !status.robotError, 'offline': !status.isConnected, 'error': status.robotError}"></div>
      <p fxFlex="20" style="margin: 1em; font-size: 1.5em;">{{status.robotInfo.name}}</p>
      <p class="light-text" fxFlexAlign="center">{{status.robotError ? 'error' : !status.isConnected ? 'offline' : 'online'}}</p>
    </div>
  </div>
</div>
