@import 'components/account-info/account-info.theme';
@import 'components/incoming-batches/incoming-batches.theme';
@import 'components/page-selector/page-selector.theme';
@import 'components/order-history/order-history.theme';
@import 'components/place-order/place-order.theme';

@mixin app-theme($theme) {

  @include ms-account-info-theme($theme);
  @include ms-incoming-batches-theme($theme);
  @include ms-new-order-theme($theme);
  @include ms-order-history-theme($theme);
  @include ms-page-selector-theme($theme);

  input {
    color: $ms-light-text;
  }

  .ms-blur-container {
    background-color: $ms-dark-transparent;
  }

  .ms-header {
    color: $ms-light-text;
  }

}
