<div class="ms-blur-container" fxLayout="column">
  <h1 class="ms-header">Place Order</h1>

  <!--&lt;!&ndash;todo: this is all based off of the mock, needs to be dynamic!&ndash;&gt;-->
  <!--<mat-input-container>-->
    <!--<input matInput placeholder="Beverage" type="text">-->
  <!--</mat-input-container>-->

  <!--<mat-input-container>-->
    <!--<input matInput placeholder="Milk" type="number">-->
  <!--</mat-input-container>-->

  <!--<mat-input-container>-->
    <!--<input matInput placeholder="Cream" type="number">-->
  <!--</mat-input-container>-->

  <!--<mat-input-container>-->
    <!--<input matInput placeholder="Sugar" type="number">-->
  <!--</mat-input-container>-->

  <!--<mat-input-container>-->
    <!--<input matInput placeholder="Sweetener" type="number">-->
  <!--</mat-input-container>-->

  <!--<div fxFlex fxLayout="column" fxLayoutAlign="end stretch">-->
    <!--<button mat-raised-button color="primary" style="margin-bottom: 10px;">Submit Order</button>-->
    <!--<button mat-raised-button color="warn">Reset</button>-->
  <!--</div>-->

</div>
