.ms-place-order-wrapper {
  padding: 1em 2em;
  width: 100%;
  height: 100%;

  .ms-header {
    margin-bottom: 1em;
  }

  .drink-description {
    font-weight: 300;
    font-style: italic;
    font-size: 0.8em;
  }

  mat-chip-list {
    padding: 0.2em 0.5em !important;
    font-weight: 300 !important;
    margin: 0.2em;
    overflow: auto;

    .remove-chip {
      cursor: pointer;
    }
  }
}
