.ms-blur-container {
  color: white;
  padding: 1em 2em;

  width: 100%;
  height: 100%;

  .ms-header {
    margin-bottom: 1em;
  }

  .drink-description {
    font-weight: 300;
    font-style: italic;
    font-size: 0.8em;
  }
}
