.ms-blur-container {
  width: 100%;
  height: 100%;

  .ms-header {
    font-size: 64px;
  }

  .ms-login-wrapper {
    min-width:400px;
  }

  .ms-login-message {
    margin-bottom: 100px;
    min-height: 25px;
  }
}
