$login-box-width: 30em;

.ms-login-wrapper {
  width: 100%;
  height: 100%;

  .ms-header {
    font-size: 5em;
    letter-spacing: 0.04em;
  }

  .ms-login-container {
    width: $login-box-width;
  }

  .ms-login-message-wrapper {
    min-height: 2em;
    width: $login-box-width;
    margin-bottom: 8em;

    mat-progress-bar {
      margin-top: 8px;
    }
  }

}
