<div class="ms-blur-container" fxLayout="column" fxLayoutAlign="center center">

  <h1 class="ms-header">MobileServer</h1>

  <div class="ms-login-wrapper" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-input-container>
      <input matInput placeholder="Username" type="text" [(ngModel)]="username" (keyup.enter)="attemptLogin()">
    </mat-input-container>

    <mat-input-container>
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" (keyup.enter)="attemptLogin()">
    </mat-input-container>

    <button mat-raised-button color="primary" (click)="attemptLogin()">Login</button>
  </div>

  <div class="ms-login-message-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
    <p class="ms-login-message">{{loginMessage}}</p>
  </div>

</div>
