<div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 10px;">
  <!--<button *ngFor="let page of pages.pagesShowing" mat-raised-button color="primary">{{page}}</button>-->
  <p style="margin-left: 5px; margin-right: 5px;" (click)="changePage(1)"><<</p>
  <p style="margin-left: 5px; margin-right: 5px;" (click)="changePage(1)">...</p>
  <p *ngFor="let page of pages.pagesShowing" style="margin-left: 5px; margin-right: 5px;" (click)="changePage(page)">{{page}}</p>
  <p style="margin-left: 5px; margin-right: 5px;" (click)="changePage(5)">...</p>
  <p style="margin-left: 5px; margin-right: 5px;" (click)="changePage(5)">>></p>
</div>
