@import '~@angular/material/_theming.scss';

@import './app/app.theme';

@include mat-core();

$primary: mat-palette($mat-green);
$accent: mat-palette($mat-brown);
$warn: mat-palette($mat-red, 700, 600, 900);

$ms-theme: mat-dark-theme($primary, $accent, $warn);

.ms-theme {
  @include angular-material-theme($ms-theme);
  @include app-theme($ms-theme);
}
