@import '~@angular/material/_theming.scss';

@import './app/app.theme';

@include mat-core();

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-green, 600);
$warn: mat-palette($mat-red);

// todo: these are the 3 colours used to states, figure out some better names
$indeterminate: mat-palette($mat-amber, 300);
$progress: mat-palette($mat-light-blue, 200);
$successful: mat-palette($mat-green, 600);

$ms-theme: mat-dark-theme($primary, $accent, $warn);

::-webkit-scrollbar-thumb {
  background-color: mat-color($accent);
}

html {
  background-color: mat-color($primary, 800);

  ::selection {
    background-color: mat-color($accent, 500, 0.6);
  }
}

.ms-theme {
  @include angular-material-theme($ms-theme);
  @include app-theme($ms-theme, $indeterminate, $progress, $successful);
}
