.ms-desktop-account {
  padding: 1em 2em;
}

.ms-mobile-account {

  .picture-placeholder {
    margin-top: 2em;
  }

  .ms-header {
    letter-spacing: 0.04em;
  }

  mat-form-field {
    width: 100%;
  }
}

.ms-account-info-wrapper {
  width: 100%;
  height: 100%;

  .picture-placeholder {
    $picture-size: 12em;
    width: $picture-size;
    height: $picture-size;
    background-image: url(../../../assets/account-pic.jpg); // todo: look into serving from the backend
    background-size: cover;
    -webkit-border-radius: $picture-size/2;
    -moz-border-radius: $picture-size/2;
    border-radius: $picture-size/2;
  }

  .ms-account-info-container {
    margin-left: 2em;

    .light-large-text {
      font-size: 1.2em;
      font-weight: 300;
    }
  }
}
